.header{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.header:hover{
    background-color: green;
    transform: scale(1.1);
}
.btn{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.btn:hover{
    background-color: green;
    transform: scale(1.1);
}