*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.parent{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  background-color: #fff;
  color: #222;
  border: none;
  border-radius: 5px;
}