.btn{
    background-color: rgb(122, 100, 100);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: rgb(187, 206, 23);
    transform: scale(1.1);
}